@model GummiBearKingdom.Models.Product

@{
    ViewData["Title"] = "Product - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Create</h2>
    <hr />
    <h4>Add a new Product</h4>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)
        <br /><br />
        @Html.LabelFor(model => model.Cost)
        @Html.TextBoxFor(model => model.Cost)
        <br /><br />
        @Html.LabelFor(model => model.Image_url)
        @Html.TextBoxFor(model => model.Image_url)
        <br /><br />
        @Html.LabelFor(model => model.Country_origin)
        @Html.TextBoxFor(model => model.Country_origin)
        <br /><br />
        @Html.LabelFor(model => model.CategoryId)
        @Html.DropDownList("CategoryId")


        <input type="submit" value="Create" class="btn btn-default" />

    }
    <p>@Html.ActionLink("Back to Products", "Index")</p>

</div>