@model GummiBearKingdom.Models.Product

@{
    ViewData["Title"] = "Product - Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h2>Create</h2>
    <hr />
    <h4>Add a new Product</h4>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)
        @Html.LabelFor(model => model.Cost)
        @Html.TextBoxFor(model => model.Cost)
        @Html.LabelFor(model => model.Country_origin)
        @Html.TextBoxFor(model => model.Country_origin)

        @Html.LabelFor(model => model.CategoryId)
        @Html.DropDownList("CategoryId")


        <input type="submit" value="Create" class="btn btn-default" />

    }
    <p>@Html.ActionLink("Back to Products", "Index")</p>
