@model GummiBearKingdom.Models.Product
@{
    ViewData["Title"] = "Product - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <h2>Edit</h2>
    <hr />
    <h4>Edit this Gummi's Product: @Html.DisplayFor(model => model.Name)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ProductId)

        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
        <br /><br />
        @Html.LabelFor(model => model.Cost)
        @Html.EditorFor(model => model.Cost)
        <br /><br />
        @Html.LabelFor(model => model.Image_url)
        @Html.EditorFor(model => model.Image_url)
        <br /><br />
        @Html.LabelFor(model => model.Country_origin)
        @Html.EditorFor(model => model.Country_origin)
        <br /><br />
        @Html.LabelFor(model => model.CategoryId)
        @Html.DropDownList("CategoryId")


        <input type="submit" value="Save" class="btn btn-success"/>
    }
    <br />
    <p>@Html.ActionLink("View Details", "Details")</p>
    <br />
    <p>@Html.ActionLink("Back to list", "Index")</p>

</div>