@model IEnumerable<GummiBearKingdom.Models.Product>

@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <hr />
    <h2>Welcom to Gummi Bear Products</h2>
    <h3>@Html.ActionLink("Add new product", "Create")</h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th></th>
        </tr>

        @foreach (var listProduct in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelProduct => listProduct.Category.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelProduct => listProduct.Name)
                    <br /><br />
                    <img src="@listProduct.Image_url" alt="@listProduct.Name" />
                    <br /><br />
                    @Html.ActionLink("Details", "Details", new { id = listProduct.ProductId }) |
                    @Html.ActionLink("Edit", "Edit", new { id = listProduct.ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = listProduct.ProductId })
                </td>

            </tr>
        }
    </table>

    

</div>