@model GummiBearKingdom.Models.Blog

@{
    ViewData["Title"] = "Blog - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Gummi Bear Blog - Details</h2>
    <hr />

    <h4>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h4>
    <h4>@Html.DisplayNameFor(model => model.Author): @Html.DisplayFor(model => model.Author).00</h4>
    <img src="@Html.DisplayFor(model => model.Image_url)" alt="@Html.DisplayFor(model => model.Title)" />
    <h4>@Html.DisplayNameFor(model => model.Text_body): @Html.DisplayFor(model => model.Text_body)</h4>
    
    <br /><br />
    <h4>@Html.ActionLink("Back to list", "Index")</h4>


</div>