@model IEnumerable<GummiBearKingdom.Models.Blog>

@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<hr />
<table class="table">
    <tr>
        <th>
            <h1>Welcome To Gummi Bear Kingdom Blog</h1>
        </th>
    
        
    </tr>

    @foreach (var listBlog in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelBlog => listBlog.Title)
                <br />
                By: @Html.DisplayFor(modelBlog => listBlog.Author)
                <br /> <br />
                
                <img src="@listBlog.Image_url" alt="listBlog.Title" />
                <br />
                @Html.DisplayFor(modelBlog => listBlog.Text_body)
                <br/>
                @Html.ActionLink("Delete", "Delete", new { id = listBlog.BlogId })
                <hr />
                 
            </td>
            <td>
               
            </td>
            
        </tr>
    }
</table>
 

<h4>@Html.ActionLink("Add new Blog", "Create")</h4>

